* {
  margin: 0;
  box-sizing: border-box;
}

#container{
      display: flex;
      flex-direction: row ;
      height: 100vh;
      background: url(./teste.2.jpg);
           
 } 

 #lado-esquerdo {
    
}

#texto-chamativo{
  background-color: #808080a8; 
  margin: 80px;
  padding: 50px;
  border-radius: 15px;
  margin-top: 150px;
  
}

#texto-chamativo > h2 {
  margin-top: 30px;
}

#texto-chamativo > h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

#texto-chamativo > h1 {
  font-size: 1.5em;
}

.caixa-box {

    margin-top: 30px;
    width: 200px;

}

#lado-direito {

      background-color: gray;
      padding: 30px;
      width: 600px;
      
      

      

}

  .campo-formulario {
    /* padding-left: 20px; */
    margin-top: 15px;
    
  
  }

  .campo-formulario label,
  .campo-formulario input {
    /* display: block; */
    /* width: 100%; */
  }

  

  #botao-enviar {
      margin-top: 20px;
      border-radius: 10px;
      padding: 10px 20px;
      border: none;
      float: right;
      cursor: pointer;
  }

  #botao-enviar :hover {

font-weight: bold;


  }
 
  @media screen and (max-width: 767px) {
    #container{
      
      flex-direction: column ;
      
           
 } 
  }