* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: url(./teste.2.jpg) no-repeat fixed center;
}
  
#boxe-mensagem {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  font-size: 1.5em;
  padding-left: 200px;
  color: #0a0a0a;
}

#icone-enviado {
  width: 50px;
  margin-bottom: 20px;
}

